*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(235, 4, 247, 0.913);
    color: #333;
    line-height: 1.6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #333;
    color: #f9f9f9;
    padding: 1.5rem 10%;
    position: relative;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 500;
    transition: color .3s;

}
.navbar a:hover{
    color: blue;
}
.nav link{
    display: flex;
    gap: 2rem;
}
.hero-c{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hero-img{
    display: flex;
    flex: 1 1 40;
    justify-content: center;

}
.hero-img img{
    width: 80%;
    height: 80%;
    max-width: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
}
.hero-text {
    flex: 1 1 50%;
    color: white;
    flex-wrap: wrap;
    margin-left: 30px;
}
.hero-text h{
    font-size: 3rem;
    margin-bottom: 1.2rem;

}
.hero-text p{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}
